body {
    width: 100%;
    overflow-x: hidden;
	background-color: #EBEAEA;
	font-family: Tahoma,Arial;
	font-size: 12pt;
	margin: 0;
	padding: 0 0 10px 0;
    
    background-image: url(datacenter.jpg);
    background-position: top; 
    background-repeat: repeat-x; 
    background-attachment: fixed;
    background-size: cover;

    line-height: 150%;
    color: #212529;
}
p {
    font-family: monospace;
    font-size: 14px;
}
a img {
	border: none;
}
#header {
    /* background-color: rgba(79,71,71,.5); */
    padding: 0px 15px 0px;
    padding-left: 20px;
    text-align: center;
    background-color: rgba(0,0,0,.7);  
    
    display: flex;
    min-height: 60px;
}
#software_name {
    color: #A9A5A5;
    padding: 0px 0px 0px;
    font-size: 24pt;
    align-content: start;
    line-height: 75px;
}
#links_header {
    margin-left: auto;
    padding: 0px 0px 0px;
    font-size: 20pt;
    align-self: center;
    margin-right: 270px;
}
#header a {
    /*color: #A9A5A5;*/
    text-decoration: none;
}
#header a:hover {
    /*color: #C00;*/
}
.toggle_btn {
    align-self: center;
    margin-left: auto;
    color: #A9A5A5;
    z-index: 9;
}
.toggle_btn:hover {
    filter: invert(52%) sepia(88%) saturate(5912%) hue-rotate(197deg) brightness(103%) contrast(107%);
}
.dropdown_menu {
    position: absolute;
  /*right: 2rem;
    top: 84px;
    border-radius: 10px;*/
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    display: grid;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}
.dropdown_menu.open {
    position: absolute;
    display: grid;
    height: 100%;
    z-index: 8;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
.dropdown_menu a {
    color: #FFFFFF;
    font-size: 40pt;
    padding: 1.7rem;
}
.dropdown_menu a:hover {
    color: #0080ff;
}
@media screen and (max-width: 1572px){
    #links_header {
        margin-right: 0px;
    }
}
@media screen and (max-width: 1322px){
    #links_header {
        display: none;
    }
    .toggle_btn {
        display: block;
    }
}
@media (max-width: 450px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
ul{
    position:relative;
    margin-top: 0;
    padding:0;
    white-space:nowrap;
    margin-bottom: 3px;
}
ul li{
    display:inline;
    text-align:center;
    padding: 0 1em 0;
}
ul li a{
    position:relative;
    top:0;left:0;right:25em;bottom:0;
    display:inline-block;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding: .2em;
    color:#A9A5A5;
    text-decoration:none;
    /*transition*/
    -webkit-transition:width .3s,right .3s;
       -moz-transition:width .3s,right .3s;
         -o-transition:width .3s,right .3s;
            transition:width .3s,right .3s;
}

ul li:last-child a::after{
    content:"";
    position:absolute;
    right:inherit;
    bottom:-3px;
    width:inherit;
    height:3px;
    background:#ccc;
      pointer-events:none;
    /*transition*/
    -webkit-transition:all .5s ease;
       -moz-transition:all .5s ease;
         -o-transition:all .5s ease;
            transition:all .5s ease;
}
ul li:nth-child(1) ~ li:last-child a{
    right:-2.3em;
    width:7em;
}
ul li:nth-child(2):hover ~ li:last-child a{
    right:7.3em;
    width:7.1em;
}
ul li:nth-child(1):hover ~ li:last-child a{
    right:17.2em;
    width:3.8em;
}
    ul li:hover ~ li:last-child a::after,
    ul li:last-child:hover a::after{
    background: #0080ff;
}
    ul li:last-child a{
    min-width:5em;max-width:5em;
}
ul li a:hover,ul li a:focus{
    color: #0080ff;
    /*background-color:rgba(255,255,255,.6);*/
    /*transition*/
    -webkit-transition:width .3s,right .3s,background-color .3s;
       -moz-transition:width .3s,right .3s,background-color .3s;
         -o-transition:width .3s,right .3s,background-color .3s;
            transition:width .3s,right .3s,background-color .3s;
}
ul li a:focus{
    border-bottom:3px solid #0080ff;
}
p{
  font-size: .8em;
  text-align: center;
  color: rgba(0,0,0,.5);
}
p a{
  color: #A9A5A5;
  text-decoration: none;
}
p a:hover{
  border-bottom: 1px solid #A9A5A5;
}
.main {
    margin-top: 1rem!important;
    display: flex;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between!important;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.card button {
    border: 0;
    border-radius: 4px;
    padding: 17px 44px;
    margin-right: 10px;
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.card button:hover {
    color: #FFF;
    background-color: crimson;
}
.card button:active {
    transform: scale(0.97);
}
.card input {
    border: 0;
    border-radius: 4px;
    padding: 17px 44px;
    margin-right: 10px;
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
}
.card input:hover {
    color: #FFF;
    background-color: crimson;
}
.card input:active {
    transform: scale(0.95);
}
.card .button1 {
    background-color: #F0F0F0;
}
.card .button1:hover {
    color: #FFF;
    background-color: #0080ff;
}
.card .button1:active {
    color: #FFF;
    background-color: #0070DF;
}
.card .button2 {
    color: #000;
    background-color: #FEDD2C;
    margin-right: 0px;
}
.card .button2:hover {
    color: #000;
    background-color: #FED801;
}
.top_buttons {
    display: flex;
}
.bottom_buttons {
    display: flex;
}
.container {
    display: flex;
}
.sensors-sum-text {
    border: 2px solid #0080FF;
    border-radius: 8px;
    padding: 14px 10px 7px 10px;

    display: -webkit-inline-box;
    align-items: end;
    margin-top: auto;
    align-items: baseline;
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.sensors-table {
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 100%;
}
.sensors-table tr:hover {
    background-color: #F2F2F2;
}
.sensors-table th {
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0080FF;
}
.sensors-table td {
    text-align: right;
    border-bottom: 1px solid #ddd;
    padding: 8px 8px 8px 8px;
}
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
.slideIn {
    animation: slideIn 1s ease;
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
    transition: all .3s;
    width: auto;
    height: auto;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}
h3 {
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.text {
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 0;
    margin-bottom: 10px;
    margin-left: 10px;
}
.container_cards {
    width: 100%;
}
.cards {
    width: fit-content;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 10px;
}
.accordion {
  border: 1px solid #ddd;
}
.accordion-btn {
  background-color: #f4f4f4;
  color: #333;
  cursor: pointer;
  padding: 10px;
  width: 350px;
  text-align: left;
  border: none;
  outline: none;
  margin: 0 10px 10px 10px;
  border-radius: 4px;

  font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-btn.active {
  background-color: #ddd;
}
.minicard {
    flex: 0 0 auto;
    margin-bottom: 10px;
    margin-left: 10px;
    
    display: flex;
    flex-direction: column;
    position: relative;

    background: #F0F0F0;
    max-width: 360px;
    max-height: 200px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}
@media  (max-width: 796px) {
    .minicard {
        width: 50%;
    }
}
.options_name {
    padding: 10px;
    width: 450px;
    height: 200px;
    padding-bottom: 20px;
    
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important;
    font-size: 10px;
    font-weight: bold;
}
.options_value {
    font-weight: bolder;
}
.justify-content-between {
    justify-content: space-between!important;
    display: flex!important;
    align-items: center;
    width: 100%;
}
* { box-sizing:border-box; }
.me-1{
    padding-right: 12px;
}
h2 {
    margin-top: 20px;
}
.options_name_state {
    padding: 5px;
    width: 110px;
    font-family: cera-round-pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    
    border-radius: 8px;
}
.flex-shrink-1.flex-grow-1 {
    /* width: min-content; */
    font-size: 11px;
    line-height: 100%;
    margin-bottom: 2px;
}
.options_value {
    font-size: 17px;
}
.dotted_line {
    border: none;
  color: #fff;
  
  height: 1px;
  width: 100%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #35373A;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: crimson;
}
input:focus + .slider {
  box-shadow: 0 0 1px crimson;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.button {
    color: #35373A;
}
.h3 {
    color: #35373A;
    margin: 0 0 15px 0;
}
#post_text {
    background-color: #FFF;
	margin: 0px auto 0;
	padding: 20px;
}
#footer {
	color: #000;
	font-size: 85%;
}